## Модель цен на автомобили

Имеется набор данных с признаками автомобилей и ценами на них. Необходимо построить предсказание цены

In [70]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [71]:
data = pd.read_csv('cars.csv', delimiter = '\t' )
data.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,1.0,1.0
1,17542.036083,9135.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,1.0,0.0
2,16218.847862,13196.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,1.0,0.0
3,16336.913140,16342.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,0.0,0.0
4,16339.170324,19832.0,Buick,Century,Sedan 4D,Sedan,6.0,3.1,4.0,1.0,0.0,1.0

In [72]:
data.shape

(804, 12)

In [73]:
X = data[['Mileage']]
y = data['Price']

In [74]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split

In [75]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [76]:
model = LinearRegression()

In [77]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [78]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

77211217.78116518

Нужно что-то поумнее

In [79]:
X_dummies = pd.get_dummies(data.loc[:, ['Mileage', 'Liter', 'Make']])
X_dummies.head()

,Mileage,Liter,Make_Buick,Make_Cadillac,Make_Chevrolet,Make_Pontiac,Make_SAAB,Make_Saturn
0,8221.0,3.1,1,0,0,0,0,0
1,9135.0,3.1,1,0,0,0,0,0
2,13196.0,3.1,1,0,0,0,0,0
3,16342.0,3.1,1,0,0,0,0,0
4,19832.0,3.1,1,0,0,0,0,0

In [80]:
X_2_train, X_2_test, y_train, y_test = train_test_split(X_dummies, y, test_size=0.2, random_state=42)

In [95]:
model = LinearRegression()
model.fit(X_2_train, y_train)
y_pred = model.predict(X_2_test)
mean_squared_error(y_test, y_pred)

9921228.278907562

In [93]:
#поиграйте с альфой!
model = Lasso(alpha = 10)
model.fit(X_2_train, y_train)
y_pred = model.predict(X_2_test)
mean_squared_error(y_test, y_pred)

9889804.4087101

In [83]:
#поиграйте с альфой!
model = Ridge(alpha = 0.1)
model.fit(X_2_train, y_train)
y_pred = model.predict(X_2_test)
mean_squared_error(y_test, y_pred)

9911264.74323919

важность признаков

In [86]:
model.coef_

array([-1.77842013e-01,  4.88078654e+03, -5.36024082e+03,  1.13921442e+04,
       -5.78282182e+03, -5.99405734e+03,  1.12277173e+04, -5.48274153e+03])

In [90]:
cdf = pd.DataFrame(model.coef_, X_dummies.columns, columns = ["coefficients"])
cdf

                coefficients
Mileage            -0.177842
Liter            4880.786536
Make_Buick      -5360.240820
Make_Cadillac   11392.144203
Make_Chevrolet  -5782.821818
Make_Pontiac    -5994.057338
Make_SAAB       11227.717306
Make_Saturn     -5482.741533