# Домашняя работа 1

### Задание 1
Даны 2 строки long_phrase и short_phrase. Напишите код, который проверяет действительно ли длинная фраза long_phrase длиннее короткой short_phrase. И выводит True или False в зависимости от результата сравнения.

long_phrase = 'Насколько проще было бы писать программы, если бы не заказчики'
short_phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [1]:
long_phrase = 'Насколько проще было бы писать программы, если бы не заказчики'
short_phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [2]:
len(long_phrase) > len(short_phrase)

True

### Задание 2
Дана строка text. Определите какая из двух букв встречается в нем чаще - 'а' или 'и'.
text = 'Если программист в 9-00 утра на работе, значит, он там и ночевал'

In [3]:
text = 'Если программист в 9-00 утра на работе, значит, он там и ночевал'

In [4]:
len(text.replace('а', '')) < len(text.replace('и', ''))

True

In [5]:
text.count('а') > text.count('и')

True

### Задание 3
Дано значение объема файла в байтах (выберите любое значение). Напишите перевод этого значения в мегабайты в формате:
'Объем файла равен 213.68Mb'

In [6]:
file_size_bytes = 1000000

In [7]:
print('Объем файла равен {:.2f}Mb'.format(file_size_bytes / 1024 / 1024))

Объем файла равен 0.95Mb

### Задание 4
Выведите на экран значение синуса 30 градусов с помощью метода math.sin

In [8]:
import math

In [9]:
?math.sin

In [10]:
math.radians(30)

0.5235987755982988

In [11]:
math.sin(math.radians(30))

0.49999999999999994

### Задание 5
В прошлом задании у вас скорее всего не получилось точного значения 0.5 из-за конечной точности вычисления синуса. Но почему некоторые простые операции также могут давать неточный результат? Попробуйте вывести на экран результат операции 0.1 + 0.2. Почему результат не 0.3?

In [12]:
0.1 + 0.2

0.30000000000000004

In [ ]:
0.5 = 0.1 1 / 2**1

In [ ]:
0.1

### Задание 6
В переменных a и b записаны 2 различных числа. Вам необходимо написать код, который меняет значения a и b местами без использования третьей переменной.

In [17]:
a = 5
b = 3

In [18]:
a = a + b # 8 и 3
b = a - b # 8 и 5
a = a - b # 3 и 5

In [20]:
a, b

(3, 5)

### Задание 7

Дано число в двоичной системе счисления: num=10011. Напишите алгоритм перевода этого числа в привычную нам десятичную систему счисления.
Возможно, вам понадобится цикл прохождения всех целых чисел от 0 до m:
for n in range(m)

In [ ]:
10011 = 1*2**0 + 1*2**1 + 0*2**2 + 0*2**3 +1*2**4 = ...

In [27]:
num = 10011
num_str = str(num)[::-1]

sum_ = 0
for i in range(len(num_str)):
    print(int(num_str[i]) * 2**i)
    
    sum_ += int(num_str[i]) * 2**i

1
2
0
0
16

In [28]:
sum_

19

# Домашняя работа 2

### Задание 1

Дан список с визитами по городам и странам. Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России. Считайте, что список geo_logs легко помещается в оперативной памяти.

geo_logs = [
	{'visit1': ['Москва', 'Россия']},
	{'visit2': ['Дели', 'Индия']},
	{'visit3': ['Владимир', 'Россия']},
	{'visit4': ['Лиссабон', 'Португалия']},
	{'visit5': ['Париж', 'Франция']},
	{'visit6': ['Лиссабон', 'Португалия']},
	{'visit7': ['Тула', 'Россия']},
	{'visit8': ['Тула', 'Россия']},
	{'visit9': ['Курск', 'Россия']},
	{'visit10': ['Архангельск', 'Россия']},
]

In [29]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit6': ['Лиссабон', 'Португалия']},
    {'visit7': ['Тула', 'Россия']},
    {'visit8': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']},
]

In [35]:
for line in geo_logs:
    if 'Россия' in list(line.values())[0]:
        print(line)

{'visit1': ['Москва', 'Россия']}
{'visit3': ['Владимир', 'Россия']}
{'visit7': ['Тула', 'Россия']}
{'visit8': ['Тула', 'Россия']}
{'visit9': ['Курск', 'Россия']}
{'visit10': ['Архангельск', 'Россия']}

### Задание 2
Выведите на экран все уникальные гео-ID из значений словаря ids. Т. е. список вида [213, 15, 54, 119, 98, 35]

ids = {'user1': [213, 213, 213, 15, 213], 'user2': [54, 54, 119, 119, 119], 'user3': [213, 98, 98, 35]}

In [36]:
ids = {'user1': [213, 213, 213, 15, 213], 'user2': [54, 54, 119, 119, 119], 'user3': [213, 98, 98, 35]}

In [42]:
geo_set = set()

for user_id, geo_ids in ids.items():
    print(user_id, geo_ids)
    
    # for geo_id in geo_ids:
    #     geo_set.add(geo_id)
    geo_set.update(geo_ids)
    
print(geo_set)

user1 [213, 213, 213, 15, 213]
user2 [54, 54, 119, 119, 119]
user3 [213, 98, 98, 35]
{98, 35, 15, 213, 54, 119}

### Задание 3

Список поисковых запросов. Получить распределение количества слов в них. Т. е. поисковых запросов из одного слова 5%, из двух - 7%, из трех - 3% итд.

In [43]:
queries = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]

In [48]:
stats = {}

total_queries = 0
for i in [len(query.split(' ')) for query in queries]:
    stats.setdefault(i, 0)
    stats[i] += 1
    total_queries += 1
    
stats, total_queries

({2: 3, 3: 4}, 7)

In [56]:
d = {'a': 1, 'b': 2}

In [ ]:
if 'b' if d:
    ...
else:
    d['b'] = 2

In [57]:
d.setdefault('b', 0)

2

In [58]:
d['b']

2

In [49]:
for k, v in stats.items():
    print(k, v / total_queries)

3 0.5714285714285714
2 0.42857142857142855

### Задание 4
Дана статистика рекламных каналов по объемам продаж. Напишите скрипт, который возвращает название канала с максимальным объемом.
Т. е. в данном примере скрипт должен возвращать 'yandex'.

In [59]:
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}

In [67]:
sorted(stats.items(), key = lambda x: -x[1])[0][0]

'yandex'

### Задание 5
Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей. Учтите, что весь список stream не помещается в оперативную память, т. е. его нужно обрабатывать поэлементно в цикле.

In [68]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]

In [73]:
previous_user_id = None
total_users = 0
total_pageviews = 0

for line in stream:
    date, user_id, pageviews = line.split(',')
    print(date, user_id, pageviews)
    
    total_pageviews += int(pageviews)
    
    if previous_user_id:
        if user_id != previous_user_id:
            total_users += 1
            previous_user_id = user_id
    else:
        previous_user_id = user_id
        total_users = 1

2018-01-01 user1 3
2018-01-07 user1 4
2018-03-29 user1 1
2018-04-04 user1 13
2018-01-05 user2 7
2018-06-14 user3 4
2018-07-02 user3 10
2018-03-21 user4 19
2018-03-22 user4 4
2018-04-22 user4 8
2018-05-03 user4 9
2018-05-11 user4 11

In [75]:
total_pageviews / total_users

23.25

### Задание 6
Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. Считайте, что все комбинации дата-кампания уникальны, а список stats легко помещается в оперативной памяти.

In [76]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

In [77]:
date = '2018-01-01'
campaign = 'google'

In [80]:
for line in stats:
    if date == line[0] and campaign == line[1]:
        print(line[2])

25

In [81]:
line_to_search = ['2018-01-01', 'google']

In [82]:
for line in stats:
    if line_to_search == line[:-1]:
        print(line[-1])

25

In [83]:
stats_dict = {}

for line in stats:
    stats_dict[(line[0], line[1])] = line[2]
    
stats_dict

{('2018-01-01', 'google'): 25,
 ('2018-01-01', 'market'): 89,
 ('2018-01-01', 'yandex'): 65,
 ('2018-01-02', 'google'): 574,
 ('2018-01-02', 'market'): 994,
 ('2018-01-02', 'yandex'): 249,
 ('2018-01-03', 'google'): 1843,
 ('2018-01-03', 'market'): 1764,
 ('2018-01-03', 'yandex'): 1327}

In [84]:
stats_dict[('2018-01-01', 'google')]

25

# Домашнее задание 3

### Задание 1

Дан список вида:
data = [
	[13, 25, 23, 34],
	[45, 32, 44, 47],
	[12, 33, 23, 95],
	[13, 53, 34, 35],
]

Напишите функцию, которая возвращает сумму элементов на диагонали. Т. е. 13+32+23+35.

In [ ]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35],
]

In [ ]:
def diagonal_sum(data):
    sum_ = 0
    
    for i in range(len(data)):
        sum_ += data[i][i]
    
    return sum_

In [ ]:
diagonal_sum(data)

### Задание 2
Дан список чисел, часть из которых имеют строковый тип или содержат буквы. Напишите функцию, которая возвращает сумму квадратов элементов, которые могут быть числами.

In [85]:
data = [1, '5', 'abc', 20, '2']

In [ ]:
try:
    sum_ += data[i]
except:
    pass

In [87]:
'abc'.isdigit()

False

### Задание 3
Напишите функцию, которая возвращает название валюты (поле 'Name') с максимальным значением курса с помощью сервиса https://www.cbr-xml-daily.ru/daily_json.js

In [88]:
class Rate:
    def __init__(self, format='value'):
        self.format = format
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')

In [90]:
import requests

In [96]:
sorted(Rate().exchange_rates().items(), key = lambda x: -x[1]['Value'] / x[1]['Nominal'])

[('XDR',
  {'CharCode': 'XDR',
   'ID': 'R01589',
   'Name': 'СДР (специальные права заимствования)',
   'Nominal': 1,
   'NumCode': '960',
   'Previous': 90.9974,
   'Value': 90.0431}),
 ('GBP',
  {'CharCode': 'GBP',
   'ID': 'R01035',
   'Name': 'Фунт стерлингов Соединенного королевства',
   'Nominal': 1,
   'NumCode': '826',
   'Previous': 86.6031,
   'Value': 85.7452}),
 ('EUR',
  {'CharCode': 'EUR',
   'ID': 'R01239',
   'Name': 'Евро',
   'Nominal': 1,
   'NumCode': '978',
   'Previous': 74.0686,
   'Value': 73.361}),
 ('USD',
  {'CharCode': 'USD',
   'ID': 'R01235',
   'Name': 'Доллар США',
   'Nominal': 1,
   'NumCode': '840',
   'Previous': 65.4201,
   'Value': 64.6694}),
 ('CHF',
  {'CharCode': 'CHF',
   'ID': 'R01775',
   'Name': 'Швейцарский франк',
   'Nominal': 1,
   'NumCode': '756',
   'Previous': 65.2504,
   'Value': 64.5661}),
 ('CAD',
  {'CharCode': 'CAD',
   'ID': 'R01350',
   'Name': 'Канадский доллар',
   'Nominal': 1,
   'NumCode': '124',
   'Previous': 49.2065,
   'Value': 48.5615}),
 ('SGD',
  {'CharCode': 'SGD',
   'ID': 'R01625',
   'Name': 'Сингапурский доллар',
   'Nominal': 1,
   'NumCode': '702',
   'Previous': 48.3233,
   'Value': 47.843}),
 ('AUD',
  {'CharCode': 'AUD',
   'ID': 'R01010',
   'Name': 'Австралийский доллар',
   'Nominal': 1,
   'NumCode': '036',
   'Previous': 46.3763,
   'Value': 46.0187}),
 ('AZN',
  {'CharCode': 'AZN',
   'ID': 'R01020A',
   'Name': 'Азербайджанский манат',
   'Nominal': 1,
   'NumCode': '944',
   'Previous': 38.5618,
   'Value': 38.1193}),
 ('BGN',
  {'CharCode': 'BGN',
   'ID': 'R01100',
   'Name': 'Болгарский лев',
   'Nominal': 1,
   'NumCode': '975',
   'Previous': 37.883,
   'Value': 37.5091}),
 ('BYN',
  {'CharCode': 'BYN',
   'ID': 'R01090B',
   'Name': 'Белорусский рубль',
   'Nominal': 1,
   'NumCode': '933',
   'Previous': 30.7425,
   'Value': 30.5982}),
 ('TMT',
  {'CharCode': 'TMT',
   'ID': 'R01710A',
   'Name': 'Новый туркменский манат',
   'Nominal': 1,
   'NumCode': '934',
   'Previous': 18.7182,
   'Value': 18.5034}),
 ('PLN',
  {'CharCode': 'PLN',
   'ID': 'R01565',
   'Name': 'Польский злотый',
   'Nominal': 1,
   'NumCode': '985',
   'Previous': 17.2199,
   'Value': 17.0632}),
 ('BRL',
  {'CharCode': 'BRL',
   'ID': 'R01115',
   'Name': 'Бразильский реал',
   'Nominal': 1,
   'NumCode': '986',
   'Previous': 17.0276,
   'Value': 16.9411}),
 ('RON',
  {'CharCode': 'RON',
   'ID': 'R01585F',
   'Name': 'Румынский лей',
   'Nominal': 1,
   'NumCode': '946',
   'Previous': 15.5729,
   'Value': 15.4335}),
 ('TRY',
  {'CharCode': 'TRY',
   'ID': 'R01700J',
   'Name': 'Турецкая лира',
   'Nominal': 1,
   'NumCode': '949',
   'Previous': 11.9556,
   'Value': 11.8329}),
 ('DKK',
  {'CharCode': 'DKK',
   'ID': 'R01215',
   'Name': 'Датских крон',
   'Nominal': 10,
   'NumCode': '208',
   'Previous': 99.2808,
   'Value': 98.3057}),
 ('CNY',
  {'CharCode': 'CNY',
   'ID': 'R01375',
   'Name': 'Китайских юаней',
   'Nominal': 10,
   'NumCode': '156',
   'Previous': 97.4558,
   'Value': 96.3504}),
 ('HKD',
  {'CharCode': 'HKD',
   'ID': 'R01200',
   'Name': 'Гонконгских долларов',
   'Nominal': 10,
   'NumCode': '344',
   'Previous': 83.3409,
   'Value': 82.3814}),
 ('NOK',
  {'CharCode': 'NOK',
   'ID': 'R01535',
   'Name': 'Норвежских крон',
   'Nominal': 10,
   'NumCode': '578',
   'Previous': 76.5738,
   'Value': 75.8185}),
 ('SEK',
  {'CharCode': 'SEK',
   'ID': 'R01770',
   'Name': 'Шведских крон',
   'Nominal': 10,
   'NumCode': '752',
   'Previous': 70.6305,
   'Value': 70.0568}),
 ('TJS',
  {'CharCode': 'TJS',
   'ID': 'R01670',
   'Name': 'Таджикских сомони',
   'Nominal': 10,
   'NumCode': '972',
   'Previous': 69.3193,
   'Value': 68.542}),
 ('ZAR',
  {'CharCode': 'ZAR',
   'ID': 'R01810',
   'Name': 'Южноафриканских рэндов',
   'Nominal': 10,
   'NumCode': '710',
   'Previous': 45.3063,
   'Value': 44.8048}),
 ('MDL',
  {'CharCode': 'MDL',
   'ID': 'R01500',
   'Name': 'Молдавских леев',
   'Nominal': 10,
   'NumCode': '498',
   'Previous': 37.9797,
   'Value': 37.5439}),
 ('CZK',
  {'CharCode': 'CZK',
   'ID': 'R01760',
   'Name': 'Чешских крон',
   'Nominal': 10,
   'NumCode': '203',
   'Previous': 28.8703,
   'Value': 28.6148}),
 ('UAH',
  {'CharCode': 'UAH',
   'ID': 'R01720',
   'Name': 'Украинских гривен',
   'Nominal': 10,
   'NumCode': '980',
   'Previous': 24.1661,
   'Value': 23.8206}),
 ('INR',
  {'CharCode': 'INR',
   'ID': 'R01270',
   'Name': 'Индийских рупий',
   'Nominal': 100,
   'NumCode': '356',
   'Previous': 94.7122,
   'Value': 94.3376}),
 ('KGS',
  {'CharCode': 'KGS',
   'ID': 'R01370',
   'Name': 'Киргизских сомов',
   'Nominal': 100,
   'NumCode': '417',
   'Previous': 93.7251,
   'Value': 92.716}),
 ('JPY',
  {'CharCode': 'JPY',
   'ID': 'R01820',
   'Name': 'Японских иен',
   'Nominal': 100,
   'NumCode': '392',
   'Previous': 58.5651,
   'Value': 57.9917}),
 ('HUF',
  {'CharCode': 'HUF',
   'ID': 'R01135',
   'Name': 'Венгерских форинтов',
   'Nominal': 100,
   'NumCode': '348',
   'Previous': 23.568,
   'Value': 23.34}),
 ('KZT',
  {'CharCode': 'KZT',
   'ID': 'R01335',
   'Name': 'Казахстанских тенге',
   'Nominal': 100,
   'NumCode': '398',
   'Previous': 17.2485,
   'Value': 17.1865}),
 ('AMD',
  {'CharCode': 'AMD',
   'ID': 'R01060',
   'Name': 'Армянских драмов',
   'Nominal': 100,
   'NumCode': '051',
   'Previous': 13.4264,
   'Value': 13.3037}),
 ('KRW',
  {'CharCode': 'KRW',
   'ID': 'R01815',
   'Name': 'Вон Республики Корея',
   'Nominal': 1000,
   'NumCode': '410',
   'Previous': 57.5732,
   'Value': 57.0795}),
 ('UZS',
  {'CharCode': 'UZS',
   'ID': 'R01717',
   'Name': 'Узбекских сумов',
   'Nominal': 10000,
   'NumCode': '860',
   'Previous': 78.1457,
   'Value': 77.2486})]

### Задание 4
Добавьте в класс параметр diff (со значениями True или False), который в случае значения True в методах eur и usd будет возвращать не курс валюты, а изменение по сравнению в прошлым значением.

In [98]:
class Rate:
    def __init__(self, format='value', diff=False):
        self.format = format
        self.diff = diff
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                if self.diff:
                    return response[currency]['Value'] - response[currency]['Previous']
                else:
                    return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')

In [100]:
Rate(diff=True).usd()

-0.750700000000009

### Задание 5
Напишите функцию, возвращающую сумму первых n чисел Фибоначчи

In [ ]:
# https://stackoverflow.com/questions/494594/how-to-write-the-fibonacci-sequence
def fib(n):
    if n < 2:
        return n
    return fib(n-2) + fib(n-1)

print(list(map(fib, range(1, 23))))

### Задание 6
Напишите функцию, преобразующую произвольный список вида ['2018-01-01', 'yandex', 'cpc', 100] в словарь {'2018-01-01': {'yandex': {'cpc': 100}}}

In [101]:
def recursion_dict(a):
    if len(a) > 2:
        return {a[0]: recursion_dict(a[1:])}
    else:
        return {a[0]: a[1]}

In [102]:
recursion_dict(['2018-01-01', 'yandex', 'cpc', 100] )

{'2018-01-01': {'yandex': {'cpc': 100}}}