## Python для работы с базами данных

Изменения в Vagrantfile:
1. Перед запуском виртуалки раскомментировать строку 50
```bash
config.vm.network "forwarded_port", guest: 5432, host: 5432, host_ip: "127.0.0.1"
```

2. На виртуалке меняем в конфигурационном файле postgresql метод аутентификации (в редакторе nano после внесения изменений нажимаем Ctrl+x и на вопрос отвечаем y + enter):
```bash
sudo nano /etc/postgresql/10/main/pg_hba.conf
```

Находим строчку (в конце файла)
```bash
# Database administrative login by Unix domain socket
local   all             postgres                                peer
```

меняем peer на md5
```bash
local   all             postgres                                md5
```

и разрешаем подключения извне (меняем 127.0.0.1/32 на 0.0.0.0/0)
```bash
# IPv4 local connections:
host    all             all             0.0.0.0/0            md5
```

В файле конфигураций разрешаем слушать все IP-адреса
```bash
sudo nano /etc/postgresql/10/main/postgresql.conf
# находим строчку с listen_addresses и меняем значение на
listen_addresses = '*'
```

В конце перезапускаем postgresql
```bash
sudo service postgresql restart
```

3. Заходим под пользователем postgres и добавляем в базу пользователя с правами на чтение
```bash
sudo su -l postgres
psql -U postgres -c "CREATE ROLE readaccess;"
psql -U postgres -c "GRANT SELECT ON ALL TABLES IN SCHEMA public TO readaccess;"
psql -U postgres -c "ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO readaccess;"
psql -U postgres -c "CREATE USER ds WITH PASSWORD 'ds';"
psql -U postgres -c "GRANT readaccess TO ds;"
```

In [2]:
!pip install psycopg2

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/0c/ba/e521b9dfae78dc88d3e88be99c8d6f8737a69b65114c5e4979ca1209c99f/psycopg2-2.7.7-cp37-cp37m-manylinux1_x86_64.whl (2.7MB)
    100% |████████████████████████████████| 2.7MB 8.8MB/s
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.7
You are using pip version 19.0.2, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import psycopg2

/home/truename/anaconda3/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [5]:
# инициализируем соединение с базой данных
conn = psycopg2.connect("dbname='postgres' user='ds' host='127.0.0.1' password='ds'")

In [6]:
cur = conn.cursor()

In [7]:
# для больших запросов
cur.itersize = 10000

In [8]:
# отправляем запрос
cur.execute('SELECT COUNT(*) FROM ratings;')

In [9]:
# получаем все строки ответа
cur.fetchall()

[(777776,)]

In [10]:
cur.execute('SELECT * FROM ratings limit 10;')

In [11]:
for row in cur:
    print(row)

(1, 110, 1.0, 1425941529)
(1, 147, 4.5, 1425942435)
(1, 858, 5.0, 1425941523)
(1, 1221, 5.0, 1425941546)
(1, 1246, 5.0, 1425941556)
(1, 1968, 4.0, 1425942148)
(1, 2762, 4.5, 1425941300)
(1, 2918, 5.0, 1425941593)
(1, 2959, 4.0, 1425941601)
(1, 4226, 4.0, 1425942228)

### Немного про запросы в MySQL

In [13]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
    100% |████████████████████████████████| 51kB 524kB/s
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3
You are using pip version 19.0.2, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [14]:
# для тяжелых запросов к MySQL можно использовать SSDictCursor
import pymysql

connection = pymysql.connect(
    host = 'dbhost',
    port = 3306,
    user = 'dbuser',
    password = 'dbpass',
    db = 'db',
    cursorclass = pymysql.cursors.SSDictCursor
)

with connection.cursor() as cursor:
    cursor.execute(sqlQuery)

    for line in cursor:
        print(line)

OperationalError: (2003, "Can't connect to MySQL server on 'dbhost' ([Errno -3] Temporary failure in name resolution)")

### Базы данных и pandas

In [15]:
import pandas as pd

In [16]:
data = pd.read_sql('SELECT * FROM ratings limit 10;', conn)
data

   userid  movieid  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556
5       1     1968     4.0  1425942148
6       1     2762     4.5  1425941300
7       1     2918     5.0  1425941593
8       1     2959     4.0  1425941601
9       1     4226     4.0  1425942228

## Персональные данные

In [17]:
# плохой вариант для аналитики
database_rows = [
    {'name': 'Наталья', 'email': 'nata123@mail.ru', 'ip': '127.0.0.1'},
    {'name': 'Михаил', 'email': 'mikha@yandex.ru', 'ip': '127.0.0.1'},
]

In [18]:
import hashlib

In [19]:
hashlib.algorithms_available

{'blake2b',
 'blake2b512',
 'blake2s',
 'blake2s256',
 'md4',
 'md5',
 'md5-sha1',
 'mdc2',
 'ripemd160',
 'sha1',
 'sha224',
 'sha256',
 'sha3-224',
 'sha3-256',
 'sha3-384',
 'sha3-512',
 'sha384',
 'sha3_224',
 'sha3_256',
 'sha3_384',
 'sha3_512',
 'sha512',
 'sha512-224',
 'sha512-256',
 'shake128',
 'shake256',
 'shake_128',
 'shake_256',
 'sm3',
 'whirlpool'}

In [20]:
m = hashlib.sha256()

m.update(b'usernameyandex.ru')
m.hexdigest()

'c1527fb63ff80c7cbae0ab842c86b3d436571a6a157c2f8c7eb772a363bb3e4b'

In [21]:
m = hashlib.sha256()

m.update(b'usernameyandex.ru.')
m.hexdigest()

'3bf8b7f444c933c4fb5136da4742e85dad9f008e8e25d36fa5d75510a59a34c2'

### Упражнение
Зашифруйте персональные данные в списке database_rows