# Домашнее задание № 5

<pre>
ФИО: Никифоров Владимир
</pre>

In [1]:
import numpy as np
from numpy import linalg
import pandas as pd
import zipfile
import requests
import io

## Задание 1
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [2]:
def get_np_array_reverse(N=10):
    """
    Возвращает numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).
    Input:
        N - число элементов до 0
    Result:
        numpy array с элементами от числа N до 0
    """
    return np.linspace(N-1, 0, N, dtype=int)
    # analog: np.arange( N-1, -1, -1 )

In [3]:
np_array = get_np_array_reverse(10)
np_array

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

## Задание 2
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [4]:
def get_diag_matrix_reverse(N=5):
    """
    Возвращает диагональную матрицу с элементами от N до 0
    Input:
        N - число
    Result:
        matrix
    """
    return np.diag(np.arange(N,-1,-1), k=0)

In [5]:
get_diag_matrix_reverse(5)

array([[5, 0, 0, 0, 0, 0],
       [0, 4, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0],
       [0, 0, 0, 2, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0]])

In [6]:
mtrx = get_diag_matrix_reverse(5)
print(f"Для диагональной матрицы с нулями вне диагонали сумма значений может быть получена разными способами:\n \
      mtrx.sum() = {mtrx.sum()} \n \
      sum([mtrx[x][x] for x in range(mtrx.shape[0])]) = {sum([mtrx[x][x] for x in range(mtrx.shape[0])])}")

Для диагональной матрицы с нулями вне диагонали сумма значений может быть получена разными способами:
       mtrx.sum() = 15
       sum([mtrx[x][x] for x in range(mtrx.shape[0])]) = 15

## Задание 3
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [7]:
zip_file_url = "http://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
ratings_file_name = "ml-latest-small/ratings.csv"
movies_file_name = "ml-latest-small/movies.csv"
r = requests.get(zip_file_url)

with zipfile.ZipFile(io.BytesIO(r.content)) as z:
    with z.open(ratings_file_name) as f:
        df_ratings = pd.read_csv(f)
    with z.open(movies_file_name) as f:
        df_movies = pd.read_csv(f)

In [8]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
df_ratings[df_ratings["rating"] == 5.0].groupby("movieId").count(\
           ).sort_values("rating",ascending=False).reset_index().iloc[0]["movieId"]

318

In [11]:
print(df_movies[df_movies["movieId"] == df_ratings[df_ratings["rating"] == 5.0].groupby("movieId").count(\
           ).sort_values("rating",ascending=False).reset_index().iloc[0]["movieId"]])
print(f'\nAnd the Oscar goes to the "{df_movies[df_movies["movieId"] == df_ratings[df_ratings["rating"] == 5.0].groupby("movieId").count(\
                                  ).sort_values("rating",ascending=False).reset_index().iloc[0]["movieId"]].reset_index().iloc[0]["title"]}"!')

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

And the Oscar goes to the "Shawshank Redemption, The (1994)"!

## Задание 4
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [12]:
df = pd.read_csv('../data/power.csv')
df.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [13]:
countries = df["country"].unique()
countriesPribalt = [x for x in filter(lambda item: 'Lat' in item or 'Lit' in item or 'Est' in item, countries)]
print(f"Список интересующих нас стран: {countriesPribalt}")

Список интересующих нас стран: ['Lithuania', 'Latvia', 'Estonia']

In [14]:
print(f'Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года, не учитывая в расчетах отрицательные значения quantity, равно:\n\
{sum(df[df["country"].isin(countriesPribalt) & df["category"].isin([4,12,21]) & (df["year"] >= 2005) & (df["year"] <= 2010) & (df["quantity"] > 0)]["quantity"])}')

Суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года, не учитывая в расчетах отрицательные значения quantity, равно:
240580.0

## Задание 5
Решите систему уравнений:

\begin{equation*}
\LARGE
4*x + 2*y + z = 4 \\
\LARGE
x + 3*y = 12 \\
\LARGE
5*y + 4*z = -3
\end{equation*}

In [15]:
a = np.array( [ [4, 2, 1], [1, 3, 0], [0, 5, 4] ] )
b = np.array( [4, 12, -3] )
solve = linalg.solve(a, b)

In [16]:
print(f"Решение: x = {solve[0]:.4f}, y = {solve[1]:.4f}, z = {solve[2]:.4f}.\nИ это {np.allclose( np.dot(a, linalg.solve(a, b)), b )} ответ!")

Решение: x = 0.4667, y = 3.8444, z = -5.5556.
И это True ответ!